* {
    color: white;
}

.container {
    margin-left: 330px;
}

.linkDiv {
    font: 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
}

.linkDiv a {
    text-decoration: none;
}

.linkIcons {
    width: 26.25px;
    height: 26.25px;
    margin-bottom: -6px;
    margin-right: 10px;
}

.submitBtn {
    margin-top: 25px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(53, 137, 248);
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.changeBtn {
    display: flex;
    margin-top: 250px;
    padding-left: 53px;
    padding-top: 18px;
    gap: 55px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

.changeBtnIcon {
    margin-top: -5px;
}

.linkDiv:hover {
    background-color: gray;
}

.changeBtn:hover {
    background-color: gray;
}

@media (max-width: 1200px) {
    .linkDiv {
        text-indent: -9999px;
        position: relative;
        margin-top: 15px;
    }

    .linkDiv svg {
        position: absolute;
        font-size: 30px;
        padding: 5px;
        border-radius: 30px;
        margin-top: -20px;
        left: 170px;
    }

    .linkDiv svg:hover {
        background-color: gray;
    }

    .submitBtn {
        text-indent: -9999px;
        position: absolute;
        padding: 5px;
        border-radius: 100%;
        left: 105px;
        width: 45px;
        height: 45px;
        margin-top: 10px;
    }

    .changeBtn {
        text-indent: -9999px;
        margin-top: 200px;
    }

    .changeBtnIcon {
        margin-left: 70px;
    }
}