* {
    color: white;
}

.container {
    margin-top: 50px;
    margin-left: 250px;
}

.linkDiv {
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}

.linkDiv a {
    text-decoration: none;
}

.houseIcon {
    margin-bottom: -4px;
    margin-right: 10px;

}

.searchIcon {
    margin-bottom: -4px;
    margin-right: 10px;
}

.submitBtn {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(34, 121, 235);
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.linkDiv:hover {
    background-color: beige;
}